# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

#tokens
src/main/java/com/mod/hypixelmegahud/tokens/apiAuth.java